{% extends 'base.html.twig' %}

{% block title 'Mon agence' %}

{% block body %}
        <div class="jumbotron text-center m-4 ">
            <h1>Mon Agence</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur sapien augue, rhoncus quis elit vel, dapibus consectetur dolor. Morbi fringilla vel ipsum id maximus.
                    Vestibulum cursus mauris quis lobortis bibendum. Aenean mauris erat, facilisis non tincidunt vitae, efficitur vitae lectus.
                    Donec posuere sit amet nulla at blandit. Nulla elit ipsum, dignissim ac lectus sit amet, finibus pretium ligula.
                    Duis mollis sagittis mauris, a pharetra sem. Ut in lobortis sem.</p>
        </div>

    <div class="container">
        <h2>Les derniers biens</h2>
    <br>
        <div class="row flex">
            {% for property in properties %}
                <div class="col.3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug }) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }} € </div>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}